In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/HP/Desktop/pro/main_dataframe.csv')
df.head(2)

,adult,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,genre_name,collection_name,production_companies_name,keywords,cast_name,crew_name,vote_average
0,False,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,"['Animation', 'Comedy', 'Family']",Toy Story Collection,['Pixar Animation Studios'],"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",7.7
1,False,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,"['Adventure', 'Fantasy', 'Family']",NaN,"['TriStar Pictures', 'Teitler Film', 'Intersco...","['board game', 'disappearance', ""based on chil...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",6.9

In [4]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [5]:
id_map = pd.read_csv('C:/Users/HP/Desktop/pro/links_small.csv')[['movieId', 'tmdbId']]
id_map.head(2)

   movieId  tmdbId
0        1   862.0
1        2  8844.0

In [6]:
df['id']=df['id'].astype('float64')

In [7]:
id_map

      movieId    tmdbId
0           1     862.0
1           2    8844.0
2           3   15602.0
3           4   31357.0
4           5   11862.0
...       ...       ...
9120   162672  402672.0
9121   163056  315011.0
9122   163949  391698.0
9123   164977  137608.0
9124   164979  410803.0

[9125 rows x 2 columns]

In [8]:
#id_map = pd.read_csv('C:/Users/WA464JA/OneDrive - EY/Desktop/RECSYS/Capstone-Project_Movie-Recommendation-Engine-main/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(df[['original_title', 'id']], on='id')#.set_index('title')

In [9]:
id_map.head()

   movieId       id               original_title
0        1    862.0                    Toy Story
1        2   8844.0                      Jumanji
2        3  15602.0             Grumpier Old Men
3        4  31357.0            Waiting to Exhale
4        5  11862.0  Father of the Bride Part II

In [10]:
indices_map = id_map.set_index('id')

In [11]:
titles = df['original_title']
indices = pd.Series(df.index, index=df['original_title'])

In [17]:
indices.head()

original_title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [15]:
#indices.rename({0:'id'},axis=1,inplace=True)

In [56]:
indices.reset_index(inplace=True)

In [18]:
#indices['original_title']

In [19]:
id_map.head()

   movieId       id               original_title
0        1    862.0                    Toy Story
1        2   8844.0                      Jumanji
2        3  15602.0             Grumpier Old Men
3        4  31357.0            Waiting to Exhale
4        5  11862.0  Father of the Bride Part II

In [104]:
id_map[]

      movieId        id                                     original_title
0           1     862.0                                          Toy Story
1           2    8844.0                                            Jumanji
2           3   15602.0                                   Grumpier Old Men
3           4   31357.0                                  Waiting to Exhale
4           5   11862.0                        Father of the Bride Part II
...       ...       ...                                                ...
9094   161944  159550.0                     The Last Brickmaker in America
9095   162542  392572.0                                             रुस्तम
9096   162672  402672.0                                       Mohenjo Daro
9097   163056  315011.0                                             シン・ゴジラ
9098   163949  391698.0  The Beatles: Eight Days a Week - The Touring Y...

[9099 rows x 3 columns]

In [20]:
#id_map.loc['Toy Story']
id_map[id_map['original_title'] == 'Toy Story']['id'].values[0]

862.0

In [21]:
indices['Avatar']
#tmdbId = id_map.loc['original_title']['id']

14551

In [22]:
len(id_map)

9099

In [23]:
df.head()

,adult,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,genre_name,collection_name,production_companies_name,keywords,cast_name,crew_name,vote_average
0,False,862.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,"['Animation', 'Comedy', 'Family']",Toy Story Collection,['Pixar Animation Studios'],"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",7.7
1,False,8844.0,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,"['Adventure', 'Fantasy', 'Family']",NaN,"['TriStar Pictures', 'Teitler Film', 'Intersco...","['board game', 'disappearance', ""based on chil...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",6.9
2,False,15602.0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,"['Romance', 'Comedy']",Grumpy Old Men Collection,"['Warner Bros.', 'Lancaster Gate']","['fishing', 'best friend', 'duringcreditssting...","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark...",6.5
3,False,31357.0,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,"['Comedy', 'Drama', 'Romance']",NaN,['Twentieth Century Fox Film Corporation'],"['based on novel', 'interracial relationship',...","['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas...",6.1
4,False,11862.0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,['Comedy'],Father of the Bride Collection,"['Sandollar Productions', 'Touchstone Pictures']","['baby', 'midlife crisis', 'confidence', 'agin...","['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye...",5.7

In [14]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     -------------------------------------- 772.0/772.0 kB 7.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: joblib>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hp\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.9.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'error'
  Running setup.py clean for scikit-surprise
Failed to build scikit-surprise
Installing collected packages: scikit-surprise, surprise
  Running setup.py install for scikit-surprise: started
  Running setup.py install for scikit-surprise: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py bdist_wheel did not run successfully.
  exit code: 1

  [76 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\surprise
  copying surprise\accuracy.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\builtin_datasets.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dataset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dump.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\reader.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\trainset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\utils.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__init__.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__main__.py -> build\lib.win-amd64-cpython-39\surprise
  creating build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\search.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\split.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\validation.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\__init__.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  creating build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\algo_base.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\baseline_only.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\knns.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\predictions.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\random_pred.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\__init__.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running egg_info
  writing scikit_surprise.egg-info\PKG-INFO
  writing dependency_links to scikit_surprise.egg-info\dependency_links.txt
  writing entry points to scikit_surprise.egg-info\entry_points.txt
  writing requirements to scikit_surprise.egg-info\requires.txt
  writing top-level names to scikit_surprise.egg-info\top_level.txt
  reading manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  adding license file 'LICENSE.md'
  writing manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  C:\Users\HP\anaconda3\lib\site-packages\setuptools\command\build_py.py:153: SetuptoolsDeprecationWarning:     Installing 'surprise.prediction_algorithms' as data is deprecated, please list it in `packages`.
      !!


      ############################
      # Package would be ignored #
      ############################
      Python recognizes 'surprise.prediction_algorithms' as an importable package,
      but it is not listed in the `packages` configuration of setuptools.

      'surprise.prediction_algorithms' has been automatically added to the distribution only
      because it may contain data files, but this behavior is likely to change
      in future versions of setuptools (and therefore is considered deprecated).

      Please make sure that 'surprise.prediction_algorithms' is included as a package by using
      the `packages` configuration field or the proper discovery methods
      (for example by using `find_namespace_packages(...)`/`find_namespace:`
      instead of `find_packages(...)`/`find:`).

      You can read more about "package discovery" and "data files" on setuptools
      documentation page.


  !!

    check.warn(importable)
  copying surprise\similarities.c -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\similarities.pyx -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\prediction_algorithms\co_clustering.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\co_clustering.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running build_ext
  building 'surprise.similarities' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for scikit-surprise
  error: subprocess-exited-with-error

  Running setup.py install for scikit-surprise did not run successfully.
  exit code: 1

  [78 lines of output]
  running install
  C:\Users\HP\anaconda3\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\surprise
  copying surprise\accuracy.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\builtin_datasets.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dataset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dump.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\reader.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\trainset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\utils.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__init__.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__main__.py -> build\lib.win-amd64-cpython-39\surprise
  creating build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\search.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\split.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\validation.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\__init__.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  creating build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\algo_base.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\baseline_only.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\knns.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\predictions.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\random_pred.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\__init__.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running egg_info
  writing scikit_surprise.egg-info\PKG-INFO
  writing dependency_links to scikit_surprise.egg-info\dependency_links.txt
  writing entry points to scikit_surprise.egg-info\entry_points.txt
  writing requirements to scikit_surprise.egg-info\requires.txt
  writing top-level names to scikit_surprise.egg-info\top_level.txt
  reading manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  adding license file 'LICENSE.md'
  writing manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  C:\Users\HP\anaconda3\lib\site-packages\setuptools\command\build_py.py:153: SetuptoolsDeprecationWarning:     Installing 'surprise.prediction_algorithms' as data is deprecated, please list it in `packages`.
      !!


      ############################
      # Package would be ignored #
      ############################
      Python recognizes 'surprise.prediction_algorithms' as an importable package,
      but it is not listed in the `packages` configuration of setuptools.

      'surprise.prediction_algorithms' has been automatically added to the distribution only
      because it may contain data files, but this behavior is likely to change
      in future versions of setuptools (and therefore is considered deprecated).

      Please make sure that 'surprise.prediction_algorithms' is included as a package by using
      the `packages` configuration field or the proper discovery methods
      (for example by using `find_namespace_packages(...)`/`find_namespace:`
      instead of `find_packages(...)`/`find:`).

      You can read more about "package discovery" and "data files" on setuptools
      documentation page.


  !!

    check.warn(importable)
  copying surprise\similarities.c -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\similarities.pyx -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\prediction_algorithms\co_clustering.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\co_clustering.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running build_ext
  building 'surprise.similarities' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

scikit-surprise

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [37]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
#from surprise import Reader, Dataset, SVD, evaluate

#import warnings; warnings.simplefilter('ignore')

In [41]:
reader = surprise.Reader()

In [38]:
import surprise

In [39]:
#Collaborative 
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [46]:
from surprise import SVD,Reader,Dataset
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
ratings =  pd.read_csv("ratings_small.csv")
data = Dataset.load_from_df(ratings[['userId','movieId','rating']],reader)
kf = KFold(n_splits=5)
kf.split(data)

In [48]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9010  0.9064  0.8898  0.8978  0.8899  0.8970  0.0064
MAE (testset)     0.6918  0.6981  0.6847  0.6912  0.6852  0.6902  0.0049
Fit time          0.96    0.99    0.98    1.09    1.02    1.01    0.04
Test time         0.15    0.22    0.14    0.12    0.12    0.15    0.04

{'test_rmse': array([0.90097038, 0.90638696, 0.88983338, 0.8978227 , 0.88987173]),
 'test_mae': array([0.69179716, 0.69811794, 0.68467983, 0.69122686, 0.68520253]),
 'fit_time': (0.959031343460083,
  0.9876313209533691,
  0.9842147827148438,
  1.0886938571929932,
  1.0219368934631348),
 'test_time': (0.15098118782043457,
  0.22442269325256348,
  0.13503098487854004,
  0.12167525291442871,
  0.11928391456604004)}

In [51]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [52]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [53]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.642805203240769, details={'was_impossible': False})

In [ ]:
###############################################################

In [24]:
df.dropna(inplace=True)
#Content filtering

In [25]:
df['soup']=df['keywords']+df['genre_name']+df['cast_name']+df['crew_name']

In [28]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [29]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [30]:
df.head()

,adult,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,genre_name,collection_name,production_companies_name,keywords,cast_name,crew_name,vote_average,soup
0,False,862.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,"['Animation', 'Comedy', 'Family']",Toy Story Collection,['Pixar Animation Studios'],"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",7.7,"['jealousy', 'toy', 'boy', 'friendship', 'frie..."
2,False,15602.0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,"['Romance', 'Comedy']",Grumpy Old Men Collection,"['Warner Bros.', 'Lancaster Gate']","['fishing', 'best friend', 'duringcreditssting...","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark...",6.5,"['fishing', 'best friend', 'duringcreditssting..."
4,False,11862.0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,['Comedy'],Father of the Bride Collection,"['Sandollar Productions', 'Touchstone Pictures']","['baby', 'midlife crisis', 'confidence', 'agin...","['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye...",5.7,"['baby', 'midlife crisis', 'confidence', 'agin..."
9,False,710.0,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,1995-11-16,352194034.0,130.0,Released,"['Adventure', 'Action', 'Thriller']",James Bond Collection,"['United Artists', 'Eon Productions']","['cuba', 'falsely accused', 'secret identity',...","['Pierce Brosnan', 'Sean Bean', 'Izabella Scor...","['Martin Campbell', 'Ian Fleming', 'Jeffrey Ca...",6.6,"['cuba', 'falsely accused', 'secret identity',..."
12,False,21032.0,en,Balto,An outcast half-wolf risks his life to prevent...,12.140733,1995-12-22,11348324.0,78.0,Released,"['Family', 'Animation', 'Adventure']",Balto Collection,"['Universal Pictures', 'Amblin Entertainment',...","['wolf', 'dog-sledding race', 'alaska', 'dog',...","['Kevin Bacon', 'Bob Hoskins', 'Bridget Fonda'...","['Steven Spielberg', 'Kathleen Kennedy', 'Roge...",7.1,"['wolf', 'dog-sledding race', 'alaska', 'dog',..."

In [54]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map[id_map['original_title'] == title]['id'].values[0]
    #print(idx)
    movie_id = id_map[id_map['original_title'] == title]['movieId'].values[0]
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = df.iloc[movie_indices][['original_title', 'vote_average', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [58]:
hybrid(1, 'Toy Story')

,original_title,vote_average,id,est
6232,Finding Nemo,7.6,12.0,3.290175
15348,Toy Story 3,7.6,10193.0,3.256405
12481,The Dark Knight,8.3,155.0,3.236105
4756,"Monsters, Inc.",7.5,585.0,3.194806
5678,Harry Potter and the Chamber of Secrets,7.4,672.0,3.125316
17818,The Avengers,7.4,24428.0,3.072751
10122,Batman Begins,7.5,272.0,3.058860
2997,Toy Story 2,7.3,863.0,3.051605
475,Jurassic Park,7.6,329.0,3.050115
7725,Harry Potter and the Prisoner of Azkaban,7.7,673.0,3.038515